<b><i><u><center><font size="500"><font color="green">welcome </font></font></center></u></i></b>

<select>
  <option> :::</option>
  <option> Goal</a></option>
  <option>Contact</option>
  <option>About us</option>
</select>
<style type="text/css">
body {
  background-color: grey;
}

</style>
