<b><i><u><center><font size="500"><font color="green">welcome </font></font></center></u></i></b>
<b><i><font color="violet"><p align="center"><font size="50">
  create your own Goal!!!!!!!!!!!!!!!!!</p></b></i></font>

  <i><a href="/goals/new">Create your goal</a></i>
  <% session[:current_user] %>

<select>
  <option> :::</option>
  <option> Goal</a></option>
  <option>Contact</option>
  <option>About us</option>
</select>
<style type="text/css">
body {
  background-color: grey;
}

</style>
